body{
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-tran{
    background: transparent;
}

.bg-glass{
    background: rgba(255,255,255,0.3);
}

*{
    font-family: "Microsoft JhengHei";
}

path{
    transition: all 0.5s;
}

path:hover{
    fill: #0da367;
    transform: translateY(-5px);
}
.text-gray-dark{
    color:#343a40;
    font-size:24px;
}
::-webkit-scrollbar {
    width: 15px;
    transition: all 0.5s;
}
:-webkit-scrollbar-track {
    background-color:rgba(255,255,255,0);
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius:10px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4); 
} /* this will style the thumb, ignoring the track */

/* ::-webkit-scrollbar-button {
} optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: transparent;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */